section#titulo
{
	width: 15%;
	min-width: 140px;
}
section#titulo article p
{
	font-size: 1.3em;
}
section.contenido
{
	background-color: #fff;
	color: #444;
	float: left;
	width: 58%;
}
aside.resultados
{
	width: 25%;
	float: left;
}
label
{
	padding: 10px 10px;
	background-color: #2C2721;
	font-size: .4em !important;
	color: white;
	display: inline-block;
	margin: 10px;
	min-width: 140px;
}
button
{
	padding: 10px 10px;
	background-color: #779F2A;
	font-size: .5em !important;
	color: white;
	display: inline-block;
	margin: 10px;
}
button:hover
{
	background-color: #093F5E;
}
.error_c
{
	font-weight: bold;
	color: white;
	background-color: #cc0000;
	padding:1em;
}
.success_c
{
	font-weight: bold;
	color: white;
	background-color: #779F2A;
	padding:1em;
}

.success, .error
{
	font-size: .4em;
}
@media only screen and (max-width : 40em) {
/* Styles */
	aside.resultados
	{
		width: 100%;
	}

	section#titulo
	{
		width: 100%;
	}

}