a
{
	color: white;
	text-decoration: none;
}
body, h1, p
{	
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}
header
{
	color: white;
	background-color: #1C6F9B;
	min-height: 50px;
	padding: 1em 0;
	margin: .5%;
	text-align: center;
	
}
header #tit
{
	font-size: 1.5em;
	font-weight: bold;
	margin: .5em;
}
#logo
{
	min-width: 300px;
	width: 22.2222222%;
	margin: 0 auto;
	padding: 1%;
}
img
{
	width: 100%;
}
#info
{
	margin: 0 auto;
	text-align: center;
}
#info p
{
	font-weight: bold;
	font-size: .9em;
}
section
{
	color: white;
	width: 49.5%;
	min-width: 320px;
	min-height: 250px;
	background-color: #779F2A;
	float: left;
	margin: .5% 0 0 .5%;
}
section.last
{
	width: 49%;

}
section.fullwidth
{
	width: 99%;
}
section.opcion:hover
{
	background-color: #093F5E;
}

section:active, section a:active
{
	color: #444;
	background-color: #ddd;			
}
section article
{
	margin: 1em;
}
section article #sub
{
	font-size: 1em;
}
section article p
{
	font-weight: bold;
	font-size: 2em;
}
section article #icon
{
	width: 80px;
	height: 90px;
	overflow: hidden;

}
footer
{
	width: 100%;
	background-color: #2C2721;
	text-align: center;
	color: white;
	min-height: 40px;
	float: left;
	margin-top: .5%;
	padding: 1em 0;
	font-weight: bold;
}
footer #social
{
	width: 5%;
	min-width: 40px;
	margin: 0 auto;
	display: inline-block;
}
footer p#social img
{
	display: inline-block;
}

.nav
{
	background-color: #febf01;  	
	display: block;
	width: 100%;
}

.nav ul
{
	padding: 0;
	list-style: none;
	padding: 25px 15px;
}

.nav ul li
{
	margin: 0 25px;
	display: inline-block;
}

.nav ul li a
{
	background-color: #febf01;  	
}

.nav ul li a:hover
{
	background-color: #606c88;  	
}

/* Smartphones -------------------------- */
@media only screen and (max-width : 40em) {
/* Styles */
	header
	{
		margin: 0;
	}
	section, section.last, section.fullwidth
	{
		margin: .5% 0;
		width: 100%;
	}
	footer
	{
		width: 100%;
		padding: 1em 0;
		/*max-width: 287px;*/
	}
} 

